/*@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}

body{
    display: flex;
    align-items: center;
}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
}

.sidebar{
    background-color:white;
    width: max-content;
    border-radius: 0px 10px 10px 0px;
    padding: 2rem 1rem;
    /*position: sticky;
    top: 0;
    left: 0;
    z-index: 100;*/
}

.sidebar:hover .sidebar__element{
    grid-template-columns: 40px 1fr;
}

.sidebar__list{
    list-style: none;
    padding: 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar__element{
    padding: .8rem 1.3rem;
    border-radius: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color: #526581;
    fill: #8491a5;
    transition: grid-template-columns .4s;
}

.sidebar__element:not(:has(.sidebar__icon--logo)):hover{
    background-color: #007aff;
    color: white;
    fill: white;
    cursor: pointer;
}

.sidebar__element:has(.sidebar__icon--logo){
    margin-bottom: 1rem;
}

.sidebar__icon{
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.sidebar__icon--logo{
     max-width: 40px;
}

.sidebar__logo{
    max-width: 75px;
    text-wrap: nowrap;
    margin-left: .1rem;
}

.sidebar__text{
    font-family: Poppins;
    text-wrap: nowrap;
}

.sidebar__logo, .sidebar__text{
    padding-left: 1.3rem;
}

.sidebar__hide{
    overflow: hidden;
}

.sidebar__element--out{
    margin-top: auto;
}

a{
    text-decoration: none;
}

.container {
  background-image: url('../../assets/images/default-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Altura completa de la ventana */
  display: flex;
  align-items: center;
}
/*
.main-content {
  flex: 1;
  padding: 20px;
  min-height: 700px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
*/

.main-content {
    margin: auto;
    padding: 10px; 
    border-radius: 2.5%;
    min-height: 700px;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

